body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9fafb;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    color: #333996;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    /* border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color:#eef0f8; */
    display: flex;
    padding: 10px;
    z-index: 10000;
    font-size: small;
    background-color: rgba(0,0,0,0.0);
    transition: background-color 0.23s;
}

.navbar.scroll {
    background-color: #333996;

}

.navbar.scroll a:hover {
    text-shadow: 3px 3px rgba(0,0,0,0.6);
}

.navbar.scroll a:active {
    text-shadow: none;
}

.navbar a:first-child {
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 0px;
    float: left;
    font-size: 24px;
    font-weight: 300;
}

.navbar a:hover {
    text-shadow: 3px 3px rgba(0,0,0,0.1);
}

.navbar a:active {
    text-shadow: none;
}

.navbar a {
    padding: 0.5rem 0rem;
    float: right;
    margin-bottom: 0px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333996;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    transition: text-shadow 0.2s;
}

.navbar.scroll a {
    color: white
}

@media screen and (max-width: 42em) {
    .navbar a {
        margin-top: 1rem;
    }
}


#home-page {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
    min-height: 100vh;
}

.concept-card {
    display: flex;
    flex-direction: row-reverse;
    margin: 30px;
    box-shadow: 3px 4px #798397;
    border-radius: 10px;
    border-style: solid;
    border-color: #cacfd6;
    padding: 30px;
    background-color: white;
}

.concept-card:first-of-type {
    display: flex;
    flex-direction: row-reverse;
    margin: 30px;
    margin-top: 45px;
    box-shadow: 3px 4px #798397;
    border-radius: 10px;
    border-style: solid;
    border-color: #cacfd6;
    padding: 30px;
    background-color: white;
}

.card-preview {
    width: 300px;
    background-color: white;
    color: #42516e;
    border-radius: 0;
    border-width: 0px 0px 0px 2px;
    border-color: #cacfd6;
    padding-left: 30px;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.card-preview a {
    color: #333996;
    font-style: italic;
}

.card-preview-image {
    width: 250px;
    margin-bottom: 20px;
}

.card-preview-objectives {
    margin-top: 20px;
}

.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-body-title {
    font-size: 32px;
    font-weight: 800;
    color: #333996
}

.card-materials a {
    padding: 8px 8px 5px 5px;
    margin: 12px 30px 0px 0px;
    text-decoration: none;
    color: #42516e;
    font-weight: 600;
    font-size: 18px;
    transition: background-color 0.23s, color 0.23s;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}

.card-materials a:hover {
    background-color: #EFEFEF;
    cursor: pointer;
}

.card-materials a:active {
    background-color: #DDDDDD;
}

.card-materials-title {
    font-size: 20px;
    font-weight: 800;
    margin-top: 30px;
    color: #42516e
}

.card-materials-notes {
    display: flex;
    flex-direction: column;
}

.card-materials-notes a {
    border-color: #333996;
}

.card-materials-notes a:hover {
    color: #333996;
}

.card-materials-notes a:active {
    color: #333996;
}

.card-materials-assignments {
    display: flex;
    flex-direction: column;
}

.card-materials-assignments a {
    border-color: #333996;
}

.card-materials-assignments a:hover {
    color: #333996;
}

.card-materials-assignments a:active {
    color: #333996;
}

.footer {
    margin-top: 100px;
    width: 100%;
    text-align: center;
    font-style: italic;
    color: #42516e;
}

.notes-wrapper {
    padding: 100px;
    color: #42516e
}

.notes-wrapper h1 {
    color: #333996;
}

.notes-wrapper h2 {
    color: #333996;
}

.notes-wrapper h3 {
    color: #42516e;
}

.notes-wrapper pre {
    padding: 10px;
    background-color: #eef0f8;
    font-weight: 600;
    border-radius: 5px;
}

.notes-wrapper blockquote {
    font-style: italic;
    font-weight: 600;
    margin: 0px;
    padding: 1px 30px;
    background-color: #efefef;
    border-width: 0px 0px 0px 2px;
    border-style: solid;
    border-color: #42516e;
}