body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9fafb;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    color: #333996;
}

.navbar {
    position: fixed;
    flex-direction: row-reverse;
    margin-left: 5%;
    margin-top:20px;
    width: 14%;
}

.navbar-image {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 3px 4px 5px #798397;
    display: inline-block;
}

.navbar-name {
    font-size: 30px;
    font-weight: 600;
    color: #666666;
    text-align: right;
}

.navbar-email {
    font-size: 15px;
    font-weight: 600;
    color: #666666;
    text-align: right;
}

.external-link {
    width: 130px;
    height: 195px;
    background: url("https://raw.githubusercontent.com/seyuboglu/sabri-site/master/res/main.jpeg") no-repeat;
    display: inline-block;
}
.external-link:hover {
    width: 140px;
    height: 400px;
    background: url("https://raw.githubusercontent.com/seyuboglu/sabri-site/master/res/main.jpeg") no-repeat;
}

#home-page {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
    min-height: 100vh;
}
.section-heading {
    display: flex;
    font-size: 45px;
    font-weight: 600;
    color: #666666;
    margin-left: 25%;
    width:1000px;
    margin-top:20px;
    padding: 0px;
}

.concept-card {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 25%;
    margin-right: 5%;
    margin-top:20px;
    max-width:1000px;
    box-shadow: 3px 4px 5px #798397;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #b3b3b3;
    padding: 1.5%;
    background-color: white;
}

.concept-card:first-of-type {
    margin-top:20px;
}

.card-preview {
    width:45%;
    background-color: white;
    color: #42516e;
    border-radius: 0;
    border-width: 0px 0px 0px 0px;
    border-color: #cacfd6;
    padding-left: 30px;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.card-preview a {
    color: #333996;
    font-style: italic;
}

.card-preview-image {
    width: 95%;
    margin-bottom: 20px;
}

.card-preview-objectives {
    margin-top: 20px;
}

.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-body-title {
    font-size: 25px;
    font-weight: 600;
    color: #666666
}
.card-body-authors {
    padding:5px 0px 0px 0px;;
    font-size: 20px;
    font-weight: 400;
    color: #666666
}
.card-body-venue {
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    font-weight: 400;
    color: #666666
}
.card-body-abstract {
    padding: 20px 0px 0px 0px;
    font-size: 15px;
    font-weight: 400;
    color: #666666
}

.card-materials a {
    padding: 8px 8px 5px 5px;
    margin: 12px 30px 0px 0px;
    text-decoration: none;
    color: #42516e;
    font-weight: 600;
    font-size: 18px;
    transition: background-color 0.23s, color 0.23s;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-radius: 5px 5px 0px 0px;
}

.card-materials a:hover {
    background-color: #EFEFEF;
    cursor: pointer;
}

.card-materials a:active {
    background-color: #DDDDDD;
}

.card-materials-title {
    font-size: 20px;
    font-weight: 800;
    margin-top: 30px;
    color: #42516e
}

.card-materials-notes {
    display: flex;
    flex-direction: column;
}

.card-materials-notes a {
    border-color: #333996;
}

.card-materials-notes a:hover {
    color: #333996;
}

.card-materials-notes a:active {
    color: #333996;
}

.card-materials-assignments {
    display: flex;
    flex-direction: column;
}

.card-materials-assignments a {
    border-color: #333996;
}

.card-materials-assignments a:hover {
    color: #333996;
}

.card-materials-assignments a:active {
    color: #333996;
}

.footer {
    margin-top: 100px;
    width: 100%;
    text-align: center;
    font-style: italic;
    color: #42516e;
}

.notes-wrapper {
    padding: 100px;
    color: #42516e
}

.notes-wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.notes-wrapper h1 {
    color: #333996;
}

.notes-wrapper h2 {
    color: #333996;
}

.notes-wrapper h3 {
    color: #42516e;
}

.notes-wrapper pre {
    padding: 10px;
    background-color: #eef0f8;
    font-weight: 600;
    border-radius: 5px;
}

.notes-wrapper blockquote {
    font-style: italic;
    font-weight: 600;
    margin: 0px;
    padding: 1px 30px;
    background-color: #efefef;
    border-width: 0px 0px 0px 2px;
    border-style: solid;
    border-color: #42516e;
}


@media screen and (max-width: 675px) {
    .navbar {
        display: none;
    }

    .section-heading {
        margin-left: 5%;
    }

    .concept-card {
        margin-left: 5%;
    }

    .concept-card:first-of-type {
        margin-left: 5%;
    }

    .card-body-abstract {
        display: none;
    }
}